*{
    box-sizing: border-box;  
    font-family: Arial , sans-serif;
}

body{
     margin: 0;
     scroll-behavior: smooth;
     overflow-x: hidden;
}

.header{
    background-color:  rgba(250, 242, 242, 0.411);
    height: 100px;
}

.container{
    width: 99%;
    height: 100%;
    margin: auto;
    display: flex;
}

.logo-container{
    height: 86px;
    width: 200px;

}

.logo{
    background: url("resimler/TrendMentor-4.png");
    height: 100px; 
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -120pX;
    background-position-x: -50px;
}

header{
    z-index: 100;
}

/***Arama Çubuğu***/

.search-container{
    margin-left: 110px;
    background-color: rgb(228, 176, 245) ;
    width: 650px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 27px;
    overflow: hidden;
}

.search-input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgb(223, 126, 243);
    border-right: 0;
    outline: none;
    padding: 3px;
    font-size: 14px;
}

.search-icon{
    width: 40px;
    background-color:rgb(228, 176, 245) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;   
}

/***Giriş Yap***/

.login-container{
    margin-left: 50px;
    margin-top: 25px;
    border: 1px solid rgb(223, 126, 243);
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.login-container i{
    font-size: 15px ;
    margin-top: 8px;
    margin-left: 10px;
}

.login-container a{
    font-size: 13px;
    text-decoration: none;
    color: black;
}

.login-container a:hover{
   color: rgb(223, 126, 243);
   transition: 0.3s;
   text-decoration: underline;
}

/***Favoriler***/

.favorites-container{
    margin-left: 50px;
    margin-top: 25px;
    height: 40px;
    width: 90px;
    border: 1px solid rgb(223, 126, 243);
    border-radius: 10px;
}

.favorites-container a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.favorites-container a:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
    text-decoration: underline;
 }
 

.favorites-container i{
    font-size: 15px;
    margin-left: 8px;
    margin-top: 8px;
}

/***Sepetim Kısmı***/

.shopping-container{
    margin-left: 50px;
    height: 40px;
    width: 90px;
    margin-top: 25px;
    border: 1px solid rgb(223, 126, 243);
    border-radius: 10px;
}

.shopping-container a{
    text-decoration: none;
    color: black;
    font-size: 13px;
   
}

.shopping-container a:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
    text-decoration: underline;
 }
 

.shopping-container i{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 8px;
}


/***Kategoriler***/

.navigation-wrapper{
    float: left;
    position: relative;
    border-bottom: 1px solid #c4c2c2;
    z-index: 999;
}

nav{
    margin: 0 auto;
    display: flex;
    width: 1450px;
    height: 18px;
    position: relative;
    margin-top: 0;
    background-color: rgb(248, 236, 236);
}

nav ul.main-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    width: 100%;
    position: relative;
}

nav ul.main-nav li a:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
    text-decoration: underline;
}

/***Açılır Menü***/

/***Moda***/

.menu1{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 160px;
    margin-left: 60px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav ul.main-nav li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    margin-left: 130px
}

nav .catmenu-link1 .menu1 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-top: 5px;
    margin-right: 30px;
    
}

nav .catmenu-link1 .menu1 ul li a{
    position: relative;
    display: flex;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link1 .menu1 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}


nav ul li.catmenu-link1:hover .menu1{
    display: block;
}

nav .catmenu-link1 .menu1 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu1 img{
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
}

/***Elektronik***/

.menu2{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 190px;
    margin-left: 50px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link2 .menu2 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;

}

nav .catmenu-link2 .menu2 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto;
}

nav .catmenu-link2 .menu2 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}

nav ul li.catmenu-link2:hover .menu2{
    display: block;
}

nav .catmenu-link2 .menu2 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu2 img{
    margin-top: 2px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
    
}

/***Anne&Bebek***/

.menu3{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 140px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link3 .menu3 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link3 .menu3 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link3 .menu3 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}

nav ul li.catmenu-link3:hover .menu3{
    display: block;
}

nav .catmenu-link3 .menu3 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu3 img{
    margin-top: 5px ;
    border-radius: 50%;
    margin-right: 10px ;
    border: 1px solid rgb(223, 126, 243);
}

/***Ev&Yaşam***/

.menu4{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 170px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link4 .menu4 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link4 .menu4 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link4 .menu4 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}

nav ul li.catmenu-link4:hover .menu4{
    display: block;
}

nav .catmenu-link4 .menu4 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
}

.menu4 img{
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
}

/***Kişisel Bakım***/


.menu5{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 150px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link5 .menu5 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link5 .menu5 ul li a{
    display: flex;
    position: relative;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link5 .menu5 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}

nav ul li.catmenu-link5:hover .menu5{
    display: block;
}

nav .catmenu-link5 .menu5 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu5 img{
    border: 1px solid rgb(223, 126, 243);
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50%;
}


/***Kırtasiye***/

.menu6{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 190px;
    min-height: 150px;
    margin-left: 120px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link6 .menu6 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link6 .menu6 ul li a{
    display: flex;
    position: relative;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link6 .menu6 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}


nav ul li.catmenu-link6:hover .menu6{
    display: block;
}

nav .catmenu-link6 .menu6 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
}

.menu6 img{
    border-radius: 50%;
    border: 1px solid rgb(223, 126, 243);
    margin-top: 5px;
    margin-right: 10px;
}


/**Filtreleme Kısmı**/

.filter-container{
    box-sizing: border-box;
    font-family: Arial , sans-serif;
    display: block;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    display: block;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header{
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(225, 0, 255, 0.171);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.col-md-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-md-4{
    margin-top: 20px;
}

.border{
    border-radius: 6px;
    border: 1px solid rgb(173, 9, 228);
}

.border img{
    width: 300px;
    height: 400px;
    margin-left: 15px;
}

form{
    display: block;
    margin-top: 0em;
}

.btn-primary{
    color: #fff;
    background-color: rgba(225, 0, 255, 0.699);
    border-color: rgba(225, 0, 255, 0.767);
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    margin-left: 20px;
}

.btn-primary:hover{
    transition: 0.3s;
    background-color: rgba(216, 91, 233, 0.699);
    border: 1px solid white;
}

.col-md-9 {
    flex: 0 0 auto;
    width: 75%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.sepet{
    border-radius: 5px;
    margin-left: 25px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid rgb(223, 126, 243);
    margin-top: 20px;
}
.sepet:hover{
    background-color: rgba(224, 126, 243, 0.144);
    transition: 0.3s;
    border: 1.5px solid rgb(223, 126, 243);
}

.fav:hover{
    background-color: rgba(224, 126, 243, 0.144);
    transition: 0.3s;
    border: 1.5px solid rgb(223, 126, 243);
}

.fav{
    border-radius: 5px;
    margin-left: 10px;
    padding: 4px;
    background-color: #fff;
    border: 1px solid rgb(223, 126, 243);
    margin-top: 20px;
}



/**Ürünler Kısmı**/

.listing-main{
    margin: 2.5rem;
    flex-direction: column;
    display: flex;
    
}

.listing-main .title{
    border-radius: 20px;
    background-color: rgb(248, 236, 236);
    width: 100%;
    color: black;
}

.small-content{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    margin-top: 2.12rem;
}

.listing-filter-menu{
    flex-direction: row;
    display: flex;
}

.checkbox-dropdown{
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    margin-left: 20px;  
}

.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #000;
    top: 50%;
    right: 10px;
    margin-top: -3px;
}

.checkbox-dropdown:active:after {
    border-bottom-color: #000;
    border-top-color: #fff;
    margin-top: -9px;
}

.checkbox-dropdown-list{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; 
    border: inherit;
    border-top: none;
    left: -1px; 
    right: -1px; 
    transition: opacity 0.4s ease-in-out;
    background-color: white;
    height: 155px;
    overflow: scroll;
    overflow-x: hidden;
    cursor: pointer;
    display: none;
    z-index: 999;
}

.checkbox-dropdown:hover .checkbox-dropdown-list{
    display: block;
}

.checkbox-dropdown-list li label{
    display: block;
    border-bottom: 1px solid silver;
    padding: 10px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.checkbox-dropdown-list li label:hover{
    background-color: rgba(228, 176, 245, 0.432);
    color: rgb(0, 0, 0);
}


/***Ürünler Kısmı***/


body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}


.container .row{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.section-products .single-product {
    margin-bottom: 26px;
    width: 300px;
    margin-left: 45px;
    border: 1px solid rgba(78, 74, 74, 0.411);
    border-radius: 20px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 20px 20px 0 0 ;
}

.section-products .single-product .part-1::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
	transform: scale(1.2,1.2) ;
}

.section-products #product-1 .part-1::before {
    background: url("resimler/caterkek2.jpg") no-repeat center;
    background-size: 320px;
	transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("resimler/caterkek1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("resimler/caterkek4.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("resimler/caterkek5.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url("resimler/caterkek6.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-6 .part-1::before {
    background: url("resimler/caterkek7.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url("resimler/caterkek8.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url("resimler/caterkek9.jpg") no-repeat center;
    background-size: cover;
}

/**/

.section-products #product-9 .part-1::before {
    background: url("resimler/caterkek10.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-10 .part-1::before {
    background: url("resimler/caterkek11.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url("resimler/caterkek12.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url("resimler/caterkek13.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-13 .part-1::before {
    background: url("resimler/caterkek14.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-14 .part-1::before {
    background: url("resimler/caterkek15.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-15 .part-1::before {
    background: url("resimler/caterkek16.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-16 .part-1::before {
    background: url("resimler/caterkek17.jpg") no-repeat center;
    background-size: cover;
}

/**/

.section-products #product-17.part-1::before {
    background: url("resimler/caterkek18.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}
.section-products #product-18 .part-1::before {
    background: url("resimler/caterkek19.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-19 .part-1::before {
    background: url("resimler/caterkek20.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-20 .part-1::before {
    background: url("resimler/caterkek21.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-21 .part-1::before {
    background: url("resimler/caterkek22.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-22 .part-1::before {
    background: url("resimler/caterkek23.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-23 .part-1::before {
    background: url("resimler/caterkek24.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-24 .part-1::before {
    background: url("resimler/caterkek25.jpg") no-repeat center;
    background-size: cover;
}

/**/

.section-products #product-25.part-1::before {
    background: url("resimler/caterkek26.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-26 .part-1::before {
    background: url("resimler/caterkek27.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-27 .part-1::before {
    background: url("resimler/caterkek28.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-28 .part-1::before {
    background: url("resimler/caterkek29.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-29 .part-1::before {
    background: url("resimler/caterkek30.jpg") no-repeat center;
    background-size: cover;
	transition: all 0.3s;
}

.section-products #product-30 .part-1::before {
    background: url("resimler/caterkek31.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-31 .part-1::before {
    background: url("resimler/caterkek32.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-32 .part-1::before {
    background: url("resimler/caterkek33.jpg") no-repeat center;
    background-size: cover;
}

/**/

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: rgb(229, 101, 255);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: rgb(229, 101, 255);
    z-index: -1;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: rgb(229, 101, 255);
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.filter-button{
    margin-left: 50px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(248, 236, 236);
    cursor: pointer;
    font-size: 13px;
    border: 1px solid rgb(248, 236, 236);
}

.filter-button:active{
    border: 1px solid white;
}

.filter-button:hover{
    background-color: rgb(223, 126, 243);
    color: white;
    transition: 0.6s;
}

.stars i{
    color: rgb(229, 101, 255);
    font-size: 15px;
}

