*{
    box-sizing: border-box;  
    font-family: Arial , sans-serif;
}

body{
     margin: 0;
     scroll-behavior: smooth;
     overflow-x: hidden;
}

.header{
    background-color:  rgba(250, 242, 242, 0.411);
    height: 100px;
}

.container{
    width: 99%;
    height: 100%;
    margin: auto;
    display: flex;
}

.logo-container{
    height: 86px;
    width: 200px;

}

.logo{
    background: url("resimler/TrendMentor-4.png");
    height: 100px; 
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -120pX;
    background-position-x: -50px;
}

header{
    z-index: 100;
}

/***Arama Çubuğu***/

.search-container{
    margin-left: 110px;
    background-color: rgb(228, 176, 245) ;
    width: 650px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 27px;
    overflow: hidden;
}

.search-input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgb(223, 126, 243);
    border-right: 0;
    outline: none;
    padding: 3px;
    font-size: 14px;
}

.search-icon{
    width: 40px;
    background-color:rgb(228, 176, 245) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;   
}

/***Hesabım***/

.navbar {
    overflow: hidden;
}
  
.navbar a {
    float: left;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
  
.dropdown{
    margin-left: 55px;
    margin-top: 23px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    border: 1px solid rgb(223, 126, 243);
    border-radius: 10px;
}
  
.dropdown .dropbtn {
    font-size: 13px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 13px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn:hover{
    color: rgb(223, 126, 243);
    transition: .3s;
    text-decoration: underline;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content p{
    font-size: 15px;
    margin-left: 8px;
    color: rgb(223, 126, 243);
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}

  
.dropdown:hover .dropdown-content {
    display: block;
}

.fav{
    margin-top: 23px;
    padding: 13px;
    border-radius: 10px;
    margin-left: 25px;
    border: 1px solid rgb(223, 126, 243); 
}

.shop{
    margin-top: 23px;
    margin-left: 50px;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid rgb(223, 126, 243);
}

.navbar .fav:hover{
    color: rgb(223, 126, 243);
    transition: .3s;
    text-decoration: underline;
}

.navbar .shop:hover{
    color: rgb(223, 126, 243);
    transition: .3s;
    text-decoration: underline;
}

/***Kategoriler***/

.navigation-wrapper{
    float: left;
    position: relative;
    border-bottom: 1px solid #c4c2c2;
}

nav{
    margin: 0 auto;
    display: flex;
    width: 1450px;
    height: 18px;
    position: relative;
    margin-top: 0;
    background-color: rgb(248, 236, 236);
}

nav ul.main-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    width: 100%;
    position: relative;
}

nav ul.main-nav li a:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
    text-decoration: underline;
}

/***Açılır Menü***/

/***Moda***/

.menu1{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 160px;
    margin-left: 60px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav ul.main-nav li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 13px;
    margin-left: 130px
}

nav .catmenu-link1 .menu1 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-top: 5px;
    margin-right: 30px;
    
}

nav .catmenu-link1 .menu1 ul li a{
    position: relative;
    display: flex;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link1 .menu1 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}


nav ul li.catmenu-link1:hover .menu1{
    display: block;
}

nav .catmenu-link1 .menu1 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu1 img{
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
}

/***Elektronik***/

.menu2{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 190px;
    margin-left: 50px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link2 .menu2 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 5px;

}

nav .catmenu-link2 .menu2 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto;
}

nav .catmenu-link2 .menu2 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}

nav ul li.catmenu-link2:hover .menu2{
    display: block;
}

nav .catmenu-link2 .menu2 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu2 img{
    margin-top: 2px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
    
}

/***Anne&Bebek***/

.menu3{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 140px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link3 .menu3 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link3 .menu3 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link3 .menu3 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}

nav ul li.catmenu-link3:hover .menu3{
    display: block;
}

nav .catmenu-link3 .menu3 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu3 img{
    margin-top: 5px ;
    border-radius: 50%;
    margin-right: 10px ;
    border: 1px solid rgb(223, 126, 243);
}

/***Ev&Yaşam***/

.menu4{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 170px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link4 .menu4 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link4 .menu4 ul li a{
    color: black;
    position: relative;
    display: flex;
    vertical-align: text-top;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link4 .menu4 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}

nav ul li.catmenu-link4:hover .menu4{
    display: block;
}

nav .catmenu-link4 .menu4 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.3s;
}

.menu4 img{
    margin-top: 5px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid rgb(223, 126, 243);
}

/***Kişisel Bakım***/


.menu5{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 110px;
    min-height: 150px;
    margin-left: 70px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link5 .menu5 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link5 .menu5 ul li a{
    display: flex;
    position: relative;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link5 .menu5 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
}

nav ul li.catmenu-link5:hover .menu5{
    display: block;
}

nav .catmenu-link5 .menu5 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
    text-decoration: underline;
}

.menu5 img{
    border: 1px solid rgb(223, 126, 243);
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50%;
}


/***Kırtasiye***/

.menu6{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 190px;
    min-height: 150px;
    margin-left: 120px;
    background-color: rgb(248, 236, 236);
    border-top: 2px solid rgb(223, 126, 243);
    border-radius: 10px;
}

nav .catmenu-link6 .menu6 ul li{
    display: block;
    text-decoration: none;
    list-style-image: none ;
    list-style: none;
    margin-right: 20px;
    margin-top: 10px;

}

nav .catmenu-link6 .menu6 ul li a{
    display: flex;
    position: relative;
    vertical-align: text-top;
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin: auto; 
}

nav .catmenu-link6 .menu6 ul li a span{
    color: black;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px; 
}


nav ul li.catmenu-link6:hover .menu6{
    display: block;
}

nav .catmenu-link6 .menu6 ul li a span:hover{
    color: rgb(223, 126, 243);
    transition: 0.1s;
}

.menu6 img{
    border-radius: 50%;
    border: 1px solid rgb(223, 126, 243);
    margin-top: 5px;
    margin-right: 10px;
}

/***İtem List Kısmı***/

.small-list{
    width: 1200px;
    margin: 15px auto 0 auto;
    display: flex;
}

.small-list-widget{
    display: flex;
    flex-wrap: wrap;
    margin: 0 12.5px ;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 35px;
    width: 90%;
}

.circled-slider{
    margin: 35px 0 0 0;
    padding: 0 ;
    display: block;
    margin-right: 30px ;
}

.circled-slider-style{
    max-height: 100px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    margin: 0;
    padding-left: 0;
    font-size: 19px;
}

.circled-slider-style a{
    margin-left: -13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 118px;
    text-decoration: none;
    cursor: auto;
    font-size: 13px;
    color: black;
}

.circled-slider-style a img{
    border: 1px solid rgb(223, 126, 243);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    transition: all ease 0.2s;
    cursor: auto;
    font-size: 12px;
}

.circled-slider-style a img:hover{
    border-color: rgba(250, 242, 242, 0.411);
    transition: 0.2s ; 
}

/***Main Banner Kısmı***/

.main-banners{
    display: block;
    width: 1180px;
    height: 270px;
    margin: auto;
    border: 1px solid rgb(223, 126, 243);
    border-radius: 6px;
}

.main-banners_line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 400px;
    box-sizing: border-box;
}

.main-banners_line a{
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
}

.main-banners_line a img{
    margin-top: 8px;
    margin-right: 5px ;
    margin-left: 5px;
}



.main-banners_line a:hover{
    background-color: rgba(187, 183, 183, 0.226);
    opacity: 1;
    border: 0 solid #fff;
}

/***Component List Kısmı***/

.component-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 16.5px;
    padding: 0;
    font-size: 13px;
    margin-top: 48px;
}

.component-list .component-item{
    width: 33.3%;
    padding: 0 12.5px;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 25px;
    display: block;
    font-size: 13px;
}

.component-list .component-item a{
    box-shadow: none;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    text-decoration: none;
}

.component-list .component-item a .image-container{
    border-bottom: none;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    border-radius: 6px 6px 0 0 ;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    border: 1px solid rgb(223, 126, 243);
}

.component-list .component-item a .image-container img{
    width: 100%;
    vertical-align: middle;
    position: relative;
    height: 187px;
    width: 383px;
    border: 1px solid rgb(223, 126, 243);
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    margin-left: 29px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.component-list .component-item .campaign-summary{
    border: none;
    background: rgb(224, 126, 243);
    color: #fff;
    height: 35px;
    line-height: 38px;
    padding: 0 17px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    overflow: hidden;
    transition: background 300ms ease;
    font-family: sans-serif;
    cursor: auto;
}

.component-list .component-item .campaign-summary .name{
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
    color: #fff;
    line-height: 38px;
    font-size: 14px;
    cursor: auto;
}

.component-list .component-item a .image-container img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.2);
}

/***Ürünler Kısmı***/

.data-test-id{
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    flex-wrap: wrap;
}

.data-test-id .container .top-container{
    margin-bottom: 18px;
    box-sizing: border-box;
    display: block;
}

.data-test-id .container .top-container h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: rgb(248, 236, 236);
}

.data-test-id .container{
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    box-sizing: border-box;
    display: block;
}

.data-test-id .container .bottom-container{
    display: flex;
    justify-content: space-between;
}

.data-test-id .container .bottom-container .column{
    border: 1.5px solid rgb(223, 126, 243);
    height: 300px;
    padding: 20px;
    border-radius: 6px;
    max-width: 200px;
    margin-right: 10px;
    margin-top: 20px;
}

.data-test-id .container .bottom-container .column:hover{
    border-color: rgba(250, 242, 242, 0.411);
    transition: 0.2s;
}

.data-test-id .container .bottom-container .column .card-name h5{
    color: black;
    text-decoration: none;
}

.data-test-id .container .bottom-container .column .card-name h3{
    color: #1b1b1b;
    text-decoration: none;
}

/***2.Satır***/

.data-test-id2{
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    flex-wrap: wrap;
}

.data-test-id2 .container{
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    box-sizing: border-box;
    display: block;
}

.data-test-id2 .container .bottom-container{
    display: flex;
    justify-content: space-between;
}

.data-test-id2 .container .bottom-container .column{
    border: 1.5px solid rgb(223, 126, 243);
    height: 300px;
    padding: 20px;
    border-radius: 6px;
    max-width: 200px;
    margin-right: 10px;
    margin-top: 10px;
}

.data-test-id2 .container .bottom-container .column:hover{
    border-color: rgba(250, 242, 242, 0.411);
    transition: 0.2s;
}

.data-test-id2 .container .bottom-container .column .card-name h5{
    color: black;
    text-decoration: none;
}

.data-test-id2 .container .bottom-container .column .card-name h3{
    color: #1b1b1b;
    text-decoration: none;
}


/***Component List 2 Kısmı***/

.component-list2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 16.5px;
    padding: 0;
    font-size: 13px;
    margin-top: 48px;
}

.component-list2 .component-item{
    width: 33.3%;
    padding: 0 12.5px;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 25px;
    display: block;
    font-size: 13px;
}

.component-list2 .component-item a{
    box-shadow: none;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    text-decoration: none;
}

.component-list2 .component-item a .image-container{
    border-bottom: none;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    border-radius: 6px 6px 0 0 ;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    border: 1px solid rgb(223, 126, 243);
}

.component-list2 .component-item a .image-container img{
    width: 100%;
    vertical-align: middle;
    position: relative;
    height: 187px;
    width: 383px;
    border: 1px solid rgb(223, 126, 243);
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    margin-left: 29px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.component-list2 .component-item .campaign-summary{
    border: none;
    background: rgb(224, 126, 243);
    color: #fff;
    height: 35px;
    line-height: 38px;
    padding: 0 17px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    overflow: hidden;
    transition: background 300ms ease;
    font-family: sans-serif;
    cursor: auto;
}

.component-list2 .component-item .campaign-summary .name{
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
    color: #fff;
    line-height: 38px;
    font-size: 14px;
    cursor: auto;
}

.component-list2 .component-item a .image-container img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.2);
}

/***Slider Kısmı***/

.product{
    position: relative;
    overflow: hidden;
    padding: 20px;
    width: 1350px;
    margin: auto;
    margin-right: 40px;
}

.product-category{
    padding: 0 1vw;
    font-size: 1.5em;
    text-transform: capitalize;
    background-color: rgb(248, 236, 236);
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 50px;
    margin-inline-end: 55px;
    
}

.product-container{
    padding: 0 3vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 80px;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 60px;
    border: 1.5px solid rgb(223, 126, 243);
    border-radius: 4px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin: auto;
}

.product-image img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

.product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: rgb(223, 126, 243);
    right: 10px;
    top: 10px;
    text-transform: capitalize;  
}

.product-info{
    width: 100%;
    height: 50%;
    padding-top: 10px ;
}

.product-brand{
    text-transform: uppercase;
}

.product-info a{
    text-decoration: none;
    color: #1b1b1b;
}

.product-description{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5s ;
    text-transform: capitalize;
    margin: 5px 0;
    margin-top: 50px;
    margin-bottom: 30px;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-button , .next-button{
    border: none;
    width: 50px;
    height: 500px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    z-index: 9;

}

.pre-button{
    left: 0;
}

.next-button{
    right: 0;
}

.pre-button i , .next-button i{
    opacity: 0.1;
}

.pre-button:hover i , .next-button:hover i{
    opacity: 3;
}

/***Component List 3 Kısmı***/

.component-list3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 16.5px;
    padding: 0;
    font-size: 13px;
}

.component-list3 .component-item{
    width: 33.3%;
    padding: 0 12.5px;
    box-sizing: border-box;
    height: fit-content;
    margin-bottom: 25px;
    display: block;
    font-size: 13px;
}

.component-list3 .component-item a{
    box-shadow: none;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    text-decoration: none;
}

.component-list3 .component-item a .image-container{
    border-bottom: none;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    position: relative;
    border-radius: 6px 6px 0 0 ;
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    border: 1px solid rgb(223, 126, 243);
}

.component-list3 .component-item a .image-container img{
    width: 100%;
    vertical-align: middle;
    position: relative;
    height: 187px;
    width: 383px;
    border: 1px solid rgb(223, 126, 243);
    color: #1b1b1b;
    cursor: auto;
    font-size: 13px;
    margin-left: 29px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.component-list2 .component-item .campaign-summary{
    border: none;
    background: rgb(224, 126, 243);
    color: #fff;
    height: 35px;
    line-height: 38px;
    padding: 0 17px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    overflow: hidden;
    transition: background 300ms ease;
    font-family: sans-serif;
    cursor: auto;
}

.component-list3 .component-item .campaign-summary .name{
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
    color: #fff;
    line-height: 38px;
    font-size: 14px;
    cursor: auto;
}

.component-list3 .component-item a .image-container img:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.2);
}


/***Footer Kısmı***/

.footer{
    margin: 0;
    float: left;
    box-sizing: border-box;
    display: block;
    background-color: rgb(248, 236, 236);
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 80px;
}

.box-container{
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
}

.box1{
    width: 33.3%;
}

.box1 h5{
    font-size: 18px;
    line-height: 1.2;
    box-sizing: border-box;
    margin: 0;
    margin-left: 40px;
}

.box1 ul{
    list-style:none ;
}

.box1  ul li{
    margin-top: 25px;
}

.box1  ul li a{
    text-decoration: none;
    color: #1b1b1b;
}

.box1 ul li a:hover{
    color: rgb(223, 126, 243);
    transition: 0.2s;
}

.box2{
    width: 500px;
    margin-left: 200px;
}

.box2 h5{
    font-size: 18px;
    line-height: 1.2;
    box-sizing: border-box;
    margin: 0;
    margin-left: 40px;
}

.box2 ul{
    list-style: none;
}

.box2 ul li{
    margin-top: 37px;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 13px;
}

.box3{
    width: 500px;
    margin-left: 130px;
}

.box3 h5{
    font-size: 18px;
    line-height: 1.2;
    box-sizing: border-box;
    margin: 0;
    margin-left: 40px;
}

.box3 ul{
    list-style: none;
}

.box3 ul li{
    margin-top: 47px;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 15px;
}

